//META{"name":"hzol","description":"Made by Sky5.hzol. <div class='themedescription'></div><br><a class='serverbutton' href='https://discord.gg/DnfWJhg'target='_blank'>League of Faggots</a><br>","author":"Sky5.hzol","version":"<span class='version'></span>"}*//

/* IMPORT CSS FROM GITHUB */
@import url("https://rawgit.com/sky5hzol/Discord/master/css/hzol.css");
/*
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
===== CUSTOMIZABLE COLORS =====
*/
:root { 
 --main-color: #00FFFF;
 --hover-color: #00FFFF;
 }
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
TROUBLESHOOTING: IF YOU NEED ANY HELP GO TO HTTPS://BETTERDOCS.NET
---------------------------------------------------------------------------------------------------------------------------------------------
*/ 
/*
---------------------------------------------------------------------------------------------------------------------------------------------
THEME INSPIRED BY QUIETNESS'S THEME "CASUAL DARK"
---------------------------------------------------------------------------------------------------------------------------------------------
*/
